.mat-row:hover .mat-cell {
    background-color: #e6f2ff;
  }
  
  .selected-cell {
    background-color: #e6f2ff;
  }
  
  table {
    width: 100%;
  }
  
  .align-center {
    text-align: center;
  }

  .align-text-right {
    text-align: right;
  }

  .align-text-left {
    text-align: left;
  }