<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <section name="Proxy" type="SharedBinance.Models.ProxyConfigurationSection.ProxyConfig,SharedBinance"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="APIKey" value="" />
        <add key="APISecret" value="" />
        <add key="Url" value="https://fapi.binance.com" />
        <add key="Wss" value="wss://fstream.binance.com" />
        <add key="CopyMasterOrders" value="true" />
        <add key="TelegramId" value="" />
        <add key="RouterId" value="" />
        <add key="RedisHost" value="" />
        <add key="RedisPort" value="" />
        <add key="RedisUsername" value="" />
        <add key="RedisPassword" value="" />
        <add key="TeleBotToken" value="" />
        <add key="RetryAttempts" value="3" />
        <add key="RetryDelayMs" value="1000" />
    </appSettings>
    <Proxy>
        <instances>
        </instances>
    </Proxy>
    <log4net>
        <appender name="LogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Log\DetailLog_"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <appendToFile value="true"/>
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy.MM.dd'.log'"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern"
                       value="%date{HH:mm:ss,fff} | %-5level | %property{Source} | %message%newline"/>
            </layout>
            <filter type="log4net.Filter.PropertyFilter">
                <key value="Process"/>
                <stringToMatch value="Ping"/>
                <acceptOnMatch value="false"/>
            </filter>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG"/>
                <levelMax value="FATAL"/>
            </filter>
            <filter type="log4net.Filter.DenyAllFilter"/>
        </appender>

        <appender name="LogFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Log\InfoLog_"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <appendToFile value="true"/>
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy.MM.dd'.log'"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern"
                       value="%date{HH:mm:ss,fff} | %-5level | %property{Source} | %message%newline"/>
            </layout>
            <filter type="log4net.Filter.PropertyFilter">
                <key value="Process"/>
                <stringToMatch value="Ping"/>
                <acceptOnMatch value="false"/>
            </filter>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO"/>
                <levelMax value="FATAL"/>
            </filter>
            <filter type="log4net.Filter.DenyAllFilter"/>
        </appender>

        <appender name="LogFileAccountTracker" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Log\AccountTrackerLog_"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <appendToFile value="true"/>
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy.MM.dd'.log'"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern"
                       value="%date{HH:mm:ss,fff} | %-5level | %property{Source} | %message%newline"/>
            </layout>
            <filter type="log4net.Filter.PropertyFilter">
                <key value="Process"/>
                <stringToMatch value="Ping"/>
                <acceptOnMatch value="false"/>
            </filter>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="AccountTracker"/>
                <levelMax value="AccountTracker"/>
            </filter>
            <filter type="log4net.Filter.DenyAllFilter"/>
        </appender>

        <appender name="LogFileWeightValue" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Log\WeightValueLog_"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <appendToFile value="true"/>
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy.MM.dd'.log'"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern"
                       value="%date{HH:mm:ss,fff} | %-5level | %property{Source} | %message%newline"/>
            </layout>
            <filter type="log4net.Filter.PropertyFilter">
                <key value="Process"/>
                <stringToMatch value="Ping"/>
                <acceptOnMatch value="false"/>
            </filter>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="BinanceWeight"/>
                <levelMax value="BinanceWeight"/>
            </filter>
            <filter type="log4net.Filter.DenyAllFilter"/>
        </appender>
        <appender name="LogFileWarnError" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Log\WarningErrorLog_"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <appendToFile value="true"/>
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy.MM.dd'.log'"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern"
                       value="%date{HH:mm:ss,fff} | %-5level | %property{Source} | %message%newline"/>
            </layout>
            <filter type="log4net.Filter.PropertyFilter">
                <key value="Process"/>
                <stringToMatch value="Ping"/>
                <acceptOnMatch value="false"/>
            </filter>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN"/>
                <levelMax value="ERROR"/>
            </filter>
            <filter type="log4net.Filter.DenyAllFilter"/>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="LogFileWarnError"/>
            <appender-ref ref="LogFileAppenderDebug"/>
            <appender-ref ref="LogFileAppenderInfo"/>
            <appender-ref ref="LogFileAccountTracker"/>
            <appender-ref ref="LogFileWeightValue"/>
        </root>
    </log4net>
</configuration>
